
        body{
            margin: 0;
       }

       ul {
           list-style-type: none;
           margin: 0;
           padding: 0;
           overflow: hidden;
           background-color: #333;
       }
       
       li {
           float: left;
       }
       
       li a {
           display: block;
           color: white;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
       }
       
       li a:hover:not(.active) {
           background-color: #111;
       }
       
       .active {
           background-color: #4CAF50;
       }

       li {
           border-right: 1px solid #bbb;
       }
       
       li:last-child {
           border-right: none;
       }

       table, th, td{
        border: 1px solid black;
    }

    table{
        border-collapse: collapse;
        width: 90%;
        position: center;
        margin-left: auto;
        margin-right: auto;
    }

    th,td{
        padding: 15px;
        text-align: left;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}

    th {
        background-color: #5a5548;
        color: white;
        }
        .covirise{
            text-decoration: none;
            text-align: center;
            color: white;
           
          }