body{
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* margin-left: 9px;
    margin-right: 9px; */
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  


table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.heading{
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    color: black;

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .form {
    border-radius: 5px;
    background-color: #a2b7be;
    padding: 20px;
  }
  body{
   background-image: url(https://thumbs.dreamstime.com/z/flat-lay-stethoscope-medical-mask-termometr-pills-other-medicine-related-items-blue-background-flat-lay-stethoscope-179546491.jpg) no-repeat center;
   background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://thumbs.dreamstime.com/z/flat-lay-stethoscope-medical-mask-termometr-pills-other-medicine-related-items-blue-background-flat-lay-stethoscope-179546491.jpg);
   background-size: cover;
   width: 98%;
   height: max-content;
        position: relative;
        background-attachment: fixed;
    
  }
 .covirise{
   text-decoration: none;
   text-align: center;
   color: white;
  
 }
  